@mixin flexSort($justify, $align) {
    display:flex;
    justify-content:$justify;
    align-items:$align;
}

@mixin arrowStyle {
    background:#ffffff4d;
    border-radius:50%;
    transition: background-color 0.3s;
    scale:0.9;
}