.section {
  height: 980px;
}
.section > div:first-child {
  height: 100%;
}
.section > div:first-child > video {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}
.section > div:last-child {
  position: absolute;
  top: 110px;
  left: 63px;
  display: flex;
  width: 90%;
  height: 770px;
  background: rgba(0, 0, 0, 0.3);
}
.section > div:last-child > div {
  display: flex;
  justify-content: space-between;
  width: 1500px;
  margin-inline: auto;
  background: red;
}
.section > div:last-child > div > .left {
  position: fixed;
  padding-top: 8.3%;
}
.section > div:last-child > div > .left > h1 {
  font-size: 90px;
  line-height: 100px;
  color: white;
}
.section > div:last-child > div > .right {
  margin-left: auto;
  transform: translateX(60px);
  display: flex;
}
.section > div:last-child > div > .right > div > div {
  border-radius: 45px;
  padding: 20px 23px 15px;
  margin-bottom: 15px;
}
.section > div:last-child > div > .right > div > div > h2 {
  font-weight: bold;
  font-size: 19px;
  text-indent: 5px;
}
.section > div:last-child > div > .right > div > div > h2::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  background: white;
  border-radius: 50%;
  margin-right: 5px;
}
.section > div:last-child > div > .right > div:first-child > .creditRating {
  background: rgba(0, 19, 74, 0.48);
  font-weight: bold;
  color: white;
}
.section > div:last-child > div > .right > div:first-child > .creditRating > nav > ul {
  display: flex;
  padding-block: 18px;
}
.section > div:last-child > div > .right > div:first-child > .creditRating > nav > ul > li {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 5px;
  padding-inline: 12px;
  width: 110px;
}
.section > div:last-child > div > .right > div:first-child > .creditRating > nav > ul > li > img {
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.section > div:last-child > div > .right > div:first-child > .creditRating > nav > ul > li > p {
  margin-top: 13px;
  font-size: 16px;
  letter-spacing: -1px;
  text-align: center;
  white-space: nowrap;
}
.section > div:last-child > div > .right > div:first-child > .ir {
  background: rgba(0, 19, 74, 0.48);
  font-weight: bold;
  height: 300px;
}
.section > div:last-child > div > .right > div:first-child > .ir > h2, .section > div:last-child > div > .right > div:first-child > .ir > nav > ul > li > a > p:first-child {
  color: white;
}
.section > div:last-child > div > .right > div:first-child > .ir > h2 {
  padding-bottom: 10px;
}
.section > div:last-child > div > .right > div:first-child > .ir > nav > ul > li {
  margin-left: 5px;
  margin-top: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.section > div:last-child > div > .right > div:first-child > .ir > nav > ul > li:last-child {
  border-bottom: none;
}
.section > div:last-child > div > .right > div:first-child > .ir > nav > ul > li > a > p {
  font-size: 17px;
  line-height: 25px;
}
.section > div:last-child > div > .right > div:first-child > .ir > nav > ul > li > a > p:last-child {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.6);
}
.section > div:last-child > div > .right > div:first-child > .report {
  background: rgba(22, 75, 232, 0.8);
  color: white;
}
.section > div:last-child > div > .right > div:first-child > .report > div {
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.section > div:last-child > div > .right > div:first-child > .report > div > p {
  font-weight: bold;
  font-size: 25px;
  line-height: 9px;
}
.section > div:last-child > div > .right > div:first-child > .report > a > img {
  margin-top: 10px;
  margin-bottom: 15px;
  background: rgba(255, 255, 255, 0.3019607843);
  border-radius: 50%;
  transition: background-color 0.3s;
  scale: 0.9;
}
.section > div:last-child > div > .right > div:last-child {
  margin-left: 15px;
  width: 270px;
}
.section > div:last-child > div > .right > div:last-child > .performance {
  background: rgba(25, 228, 238, 0.4);
}
.section > div:last-child > div > .right > div:last-child > .performance > h2, .section > div:last-child > div > .right > div:last-child > .performance > div > p, .section > div:last-child > div > .right > div:last-child > .performance > nav > ul > li > a {
  color: white;
}
.section > div:last-child > div > .right > div:last-child > .performance > h2 {
  padding-bottom: 10px;
}
.section > div:last-child > div > .right > div:last-child > .performance > div {
  padding-bottom: 3px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.section > div:last-child > div > .right > div:last-child > .performance > div > p {
  font-weight: bold;
  line-height: 8px;
}
.section > div:last-child > div > .right > div:last-child > .performance > div > p:first-child {
  font-size: 25px;
}
.section > div:last-child > div > .right > div:last-child > .performance > div > p:last-child {
  font-size: 24px;
}
.section > div:last-child > div > .right > div:last-child > .performance > nav > ul {
  margin-bottom: 10px;
}
.section > div:last-child > div > .right > div:last-child > .performance > nav > ul > li > a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
}
.section > div:last-child > div > .right > div:last-child > .performance > nav > ul > li > a > p {
  font-size: 18px;
}
.section > div:last-child > div > .right > div:last-child > .performance > nav > ul > li > a > img {
  background: rgba(255, 255, 255, 0.3019607843);
  border-radius: 50%;
  transition: background-color 0.3s;
  scale: 0.9;
}
.section > div:last-child > div > .right > div:last-child > .info {
  background: rgba(255, 255, 255, 0.75);
  color: #222222;
}
.section > div:last-child > div > .right > div:last-child > .info > h2::before {
  background: #0A31A8;
}
.section > div:last-child > div > .right > div:last-child > .info > div > p, .section > div:last-child > div > .right > div:last-child > .info > nav > ul > li > p {
  font-size: 13px;
  font-weight: bold;
}
.section > div:last-child > div > .right > div:last-child > .info > div {
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.section > div:last-child > div > .right > div:last-child > .info > div > div:nth-child(2), .section > div:last-child > div > .right > div:last-child > .info > div > div:last-child {
  text-align: right;
}
.section > div:last-child > div > .right > div:last-child > .info > div > div:nth-child(2) > small, .section > div:last-child > div > .right > div:last-child > .info > div > div:nth-child(2) > strong {
  color: #222222;
  font-weight: bold;
}
.section > div:last-child > div > .right > div:last-child > .info > div > div:nth-child(2) > small {
  display: inline-block;
  font-size: 20px;
  margin-left: 3px;
  transform: translateY(-4px);
}
.section > div:last-child > div > .right > div:last-child > .info > div > div:nth-child(2) > strong {
  font-size: 45px;
}
.section > div:last-child > div > .right > div:last-child > .info > div > div:last-child {
  margin-right: 2px;
}
.section > div:last-child > div > .right > div:last-child > .info > div > div:last-child > span {
  font-size: 13px;
}
.section > div:last-child > div > .right > div:last-child > .info > div > div:last-child > span:first-child {
  color: black;
  margin-right: 5px;
}
.section > div:last-child > div > .right > div:last-child > .info > nav {
  margin-top: 23px;
}
.section > div:last-child > div > .right > div:last-child > .info > nav > ul > li {
  display: flex;
  justify-content: space-between;
  text-align: right;
}
.section > div:last-child > div > .right > div:last-child > .info > nav > ul > li > div > p:first-child {
  font-size: 15px;
  line-height: 0px;
  font-weight: bold;
}
.section > div:last-child > div > .right > div:last-child > .info > nav > ul > li > div > p:last-child {
  font-size: 14px;
  line-height: 20px;
}