.globalComp {
  padding: clamp(1.8rem, 1.7vw, 4rem) clamp(2.1rem, 2vw, 4.8rem);
  border-radius: clamp(26px, 4.2vw, 2.4rem);
  background: #0A31A8;
  font-weight: bold;
}
.globalComp > div:first-child {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.globalComp > div:first-child > img {
  width: 2.9rem;
  height: 2.9rem;
}
.globalComp > div:first-child > p {
  font-size: 1.2rem;
  padding-top: 0.2rem;
  padding-bottom: 1.2rem;
  letter-spacing: 1px;
}
.globalComp > div:last-child {
  margin-top: 1rem;
}
.globalComp > div:last-child > p {
  font-size: 0.9rem;
}
.globalComp > div:last-child > nav > ul > li {
  padding-top: 1rem;
}
.globalComp > div:last-child > nav > ul > li > p {
  font-size: 0.9rem;
}
.globalComp > div:last-child > nav > ul > li > p > span {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.3);
  margin-right: 0.5rem;
}