@keyframes progressBar {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
.section {
  padding-inline: 3.7rem;
  background: #FCFCFC;
}
.section > div {
  width: 90.5rem;
  margin-inline: auto;
  padding-top: 9rem;
  padding-bottom: 6rem;
}
.section > div > div {
  display: grid;
  grid-template-columns: 1fr 56.4%;
}
.section > div > div > .left {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: #333333;
  font-weight: bold;
}
.section > div > div > .left > div:first-child, .section > div > div > .left > div:last-child > div {
  overflow: hidden;
}
.section > div > div > .left > div:first-child > h2 {
  font-family: "SBAggroB";
  font-size: 1.9rem;
  width: -moz-max-content;
  width: max-content;
  transform: translateY(100%);
}
.section > div > div > .left > div:first-child > h2::before {
  content: "";
  display: inline-block;
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  background: #0A31A8;
  margin-right: 0.8rem;
  transform: translateY(6px);
}
.section > div > div > .left > div:last-child > div > p {
  word-break: keep-all;
  font-size: 3.6rem;
  line-height: 1.4;
  width: -moz-max-content;
  width: max-content;
  transform: translateY(100%);
}
.section > div > div > .right {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
.section > div > div > .right > div {
  display: grid;
  gap: 4.5rem;
}
.section > div > div > .right > div > div {
  opacity: 0;
}
.section > div > div > .right > div:first-child > div:last-child {
  align-self: flex-end;
}
.section > div > div > .right > div:first-child > div > a > div, .section > div > div > .right > div:first-child > div > a > div > img {
  width: 25rem;
  height: 20rem;
}
.section > div > div > .right > div:last-child > div:first-child > a > div, .section > div > div > .right > div:last-child > div:first-child > a > div > img {
  width: 25rem;
  height: 29rem;
}
.section > div > div > .right > div:last-child > div:last-child > a > div, .section > div > div > .right > div:last-child > div:last-child > a > div > img {
  width: 25rem;
  height: 18.1rem;
}

.section.anim > div > div > .left > div > h2, .section.anim > div > div > .left > div > div > p {
  animation: fade-in 1s ease-out forwards;
}
@keyframes fade-in {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
.section.anim > div > div > .left > div > h2 {
  animation-duration: 0.4s;
}
.section.anim > div > div > .left > div > div > p {
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}
.section.anim > div > div > .left > div > div:last-child > p {
  animation-delay: 0.2s;
}
.section.anim > div > div > .right > div > div {
  animation: fade-in2 1s ease-out forwards;
  animation-duration: 0.7s;
}
@keyframes fade-in2 {
  from {
    transform: translateY(10%);
    visibility: hidden;
    opacity: 0;
  }
  to {
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
  }
}
.section.anim > div > div > .right > div:first-child > div:last-child {
  animation-delay: 0.2s;
}
.section.anim > div > div > .right > div:last-child > div:first-child {
  animation-delay: 0.1s;
}
.section.anim > div > div > .right > div:last-child > div:last-child {
  animation-delay: 0.3s;
}