@keyframes progressBar {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
.performance {
  position: relative;
  border-radius: clamp(2rem, 2.2vw, 5.5rem);
  padding: 1.5rem;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  opacity: 0;
  visibility: hidden;
  background: rgba(25, 228, 238, 0.4);
  animation: fade-in2 1s ease-out forwards;
  animation-delay: 1s;
}
.performance > h2 {
  font-size: 1.1rem;
}
.performance > h2::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: white;
  margin-right: 5px;
}
@keyframes fade-in2 {
  from {
    transform: translateY(30%);
    visibility: hidden;
    opacity: 0;
  }
  to {
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
  }
}
.performance > h2, .performance > div > p, .performance > nav > ul > li > a {
  color: white;
}
.performance > h2 {
  padding-bottom: 18px;
}
.performance > div {
  display: flex;
  flex-direction: column;
  padding-bottom: 13px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.performance > div > p {
  font-weight: bold;
  line-height: 1.4;
  font-size: 1.4rem;
  word-break: keep-all;
}
.performance > nav > ul {
  margin-top: 0.8rem;
}
.performance > nav > ul > li {
  padding-bottom: 12px;
  white-space: nowrap;
}
.performance > nav > ul > li:last-child {
  padding-bottom: 0;
}
.performance > nav > ul > li > a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
}
.performance > nav > ul > li > a > p {
  font-size: 1rem;
}
.performance > nav > ul > li > a > img {
  width: 2.2rem;
  height: 2.2rem;
}