@use '../../variables' as *;
@use '../../animations' as *;

.section {
    padding-inline:$layout-padding;
    background:#FCFCFC;

    & > div {
        width:90.5rem;
        margin-inline:auto;
        padding-top:9rem;
        padding-bottom:6rem;

        & > div {
            display:grid;
            grid-template-columns:1fr 56.4%;

            & > .left {
                display:flex;
                flex-direction:column;
                gap:1rem;
                color:$text-color;
                font-weight:bold;

                & > div:first-child,
                & > div:last-child > div {
                    overflow:hidden;
                }

                & > div:first-child {
                    & > h2 {
                        font-family: 'SBAggroB';
                        font-size:1.9rem;
                        width:max-content;
                        transform:translateY(100%);
    
                        &::before {
                            content:"";
                            display:inline-block;
                            width:1.4rem;
                            height:1.4rem;
                            border-radius:50%;
                            background:$cobalt;
                            margin-right:0.8rem;
                            transform:translateY(6px);
                        }
                    }
                }

                & > div:last-child {
                    & > div {
                        & > p {
                            word-break:keep-all;
                            font-size:3.6rem;
                            line-height:1.4;
                            width:max-content;
                            transform:translateY(100%);
                        }
                    }
                }
            }

            & > .right {
                display:grid;
                grid-template-columns:1fr 1fr;
                gap:1rem;

                & > div {
                    display:grid;
                    gap:4.5rem;
                }

                & > div > div {
                    opacity:0;
                }

                & > div:first-child {
                    & > div:last-child {
                        align-self:flex-end;
                    }

                    & > div > a > div {
                        &,
                        & > img {
                            width:25rem;
                            height:20rem;       
                        }
                    }
                }

                & > div:last-child {
                    & > div:first-child > a > div {
                        &,
                        & > img {
                            width:25rem;
                            height:29rem;
                        }
                    }

                    & > div:last-child > a > div {
                        &,
                        & > img {
                            width:25rem;
                            height:18.1rem;
                        }
                    }
                }
            }
        }
    }
}

.section.anim {
    & > div > div {
        & > .left {
            & > div {
                & > h2,
                & > div > p {
                    @include fade-in(100%);
                }

                & > h2 {
                    animation-duration:0.4s;
                }

                & > div > p {
                    animation-duration:1s;
                    animation-timing-function: ease-in-out;
                }
    
                & > div:last-child > p {
                    animation-delay:0.2s;
                }
            }
        }

        & > .right {
            & > div {
                & > div {
                    @include fade-in2(10%);
                    animation-duration:0.7s;
                }

                &:first-child {
                    & > div:last-child {
                        animation-delay:0.2s;
                    }
                }

                &:last-child {
                    & > div:first-child {
                        animation-delay:0.1s;
                    }

                    & > div:last-child {
                        animation-delay:0.3s;
                    }
                }
            }
        }
    }
}