@import "constants/Normalized.css";
@font-face {
  font-family: "SUIT-Regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
html > body {
  font-family: "SUIT-Regular", sans-serif;
  height: 5000px;
}

.header {
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 6.7rem;
  z-index: 100;
  transition: background-color 0.3s;
}
.header::after {
  content: "";
  position: absolute;
  top: 100%;
  display: block;
  width: 100%;
  height: 500px;
  max-height: 0px;
  transition: max-height 0.3s, background-color 0.3s;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  z-index: -1;
}
.header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-inline: 4rem;
}
.header > div > .logo:hover {
  cursor: pointer;
}
.header > div > nav:nth-child(2) {
  height: 100%;
}
.header > div > nav:nth-child(2) > ul {
  display: flex;
  margin-right: 15px;
  height: 100%;
  font-weight: bold;
}
.header > div > nav:nth-child(2) > ul > li {
  position: relative;
  padding: 0 0.6rem;
}
.header > div > nav:nth-child(2) > ul > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: clamp(5.5rem, 10.7vw, 11.5rem);
  font-size: 18px;
  height: 100%;
  text-align: center;
  color: white;
}
.header > div > nav:nth-child(2) > ul > li:hover > a {
  color: #0A31A8;
}
.header > div > nav:nth-child(2) > ul > li > div {
  position: absolute;
  width: 100%;
  height: 500px;
  max-height: 0px;
  margin-left: -10px;
  transition: max-height 0.3s;
  overflow: hidden;
}
.header > div > nav:nth-child(2) > ul > li > div > ul {
  margin-top: 30px;
  text-align: center;
}
.header > div > nav:nth-child(2) > ul > li > div > ul > li {
  line-height: 46px;
  width: 80%;
  margin-inline: auto;
}
.header > div > nav:nth-child(2) > ul > li > div > ul > li > a {
  color: #333333;
}
.header > div > nav:nth-child(2) > ul > li > div > ul > li:hover > a {
  color: #0A31A8;
}
.header > div > nav:nth-child(2) > ul > li > div > ul::after {
  content: "";
  position: absolute;
  top: 38px;
  right: 0;
  width: 1px;
  height: 395px;
  background: rgba(0, 0, 0, 0.1);
}
.header > div > nav:nth-child(3) > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 210px;
}
.header > div > nav:nth-child(3) > ul > li {
  position: relative;
}
.header > div > nav:nth-child(3) > ul > li > a {
  color: white;
}
.header > div > nav:nth-child(3) > ul > li:first-child > a {
  font-weight: 700;
}
.header > div > nav:nth-child(3) > ul > li:first-child > a::after {
  content: "";
  position: absolute;
  top: -4px;
  left: -15px;
  display: block;
  width: 160%;
  height: 30px;
  border-radius: 50px;
  opacity: 0.15;
  background: white;
}
.header > div > nav:nth-child(3) > ul > li:first-child > a:hover::after {
  background: #0A31A8;
  opacity: 1;
  z-index: -1;
}
.header > div > nav:nth-child(3) > ul > li:nth-child(2) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60px;
  margin-left: 26px;
}
.header > div > nav:nth-child(3) > ul > li:nth-child(2) > a {
  font-weight: 600;
  font-size: 14px;
}
.header > div > nav:nth-child(3) > ul > li:nth-child(2) > a:last-child {
  color: rgba(255, 255, 255, 0.3);
}
.header > div > nav:nth-child(3) > ul > li:nth-child(2)::before {
  content: "";
  position: absolute;
  left: 30px;
  display: block;
  width: 1px;
  height: 13px;
  background: rgba(255, 255, 255, 0.3);
}
.header > div > nav:nth-child(3) > ul > li:last-child {
  white-space: nowrap;
  overflow: hidden;
  text-indent: 100%;
}
.header > div > nav:nth-child(3) > ul > li:last-child > a {
  display: block;
  width: 30px;
}
.header > div > nav:nth-child(3) > ul > li:last-child > a::before, .header > div > nav:nth-child(3) > ul > li:last-child > a::after {
  content: "";
  position: absolute;
  display: block;
  right: 3px;
  width: 23px;
  height: 2px;
  background: white;
}
.header > div > nav:nth-child(3) > ul > li:last-child > a::before {
  top: 5px;
}
.header > div > nav:nth-child(3) > ul > li:last-child > a::after {
  top: 12px;
}
.header.active {
  background-color: white;
}
.header.active::after {
  max-height: 500px;
  background-color: white;
}
.header.active > div > nav:nth-child(2) > ul > li > a {
  color: #333333;
}
.header.active > div > nav:nth-child(2) > ul > li > div {
  max-height: 500px;
}
.header.active > div > nav:nth-child(3) > ul > li:first-child > a {
  color: #333333;
}
.header.active > div > nav:nth-child(3) > ul > li:first-child > a::after {
  background: #333333;
}
.header.active > div > nav:nth-child(3) > ul > li:nth-child(2)::before {
  background: rgba(0, 0, 0, 0.3);
}
.header.active > div > nav:nth-child(3) > ul > li:nth-child(2) > a:first-child {
  color: #0A31A8;
}
.header.active > div > nav:nth-child(3) > ul > li:nth-child(2) > a:last-child {
  color: rgb(196, 196, 196);
}
.header.active > div > nav:nth-child(3) > ul > li:nth-child(3) > a::after, .header.active > div > nav:nth-child(3) > ul > li:nth-child(3) > a::before {
  background: #333333;
}

.section > .first {
  height: 980px;
}
.section > .first > div:first-child {
  height: 100%;
}
.section > .first > div:first-child > video {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}
.section > .first > div:last-child {
  position: absolute;
  top: 110px;
  left: 63px;
  display: flex;
  width: 90%;
  height: 770px;
  background: rgba(0, 0, 0, 0.3);
}
.section > .first > div:last-child > div {
  display: flex;
  justify-content: space-between;
  width: 1500px;
  margin-inline: auto;
  background: red;
}
.section > .first > div:last-child > div > .left {
  position: fixed;
}
.section > .first > div:last-child > div > .left > h1 {
  font-size: 90px;
  line-height: 20px;
  color: white;
}
.section > .first > div:last-child > div > .right {
  margin-left: auto;
  transform: translateX(-100px);
  display: flex;
}
.section > .first > div:last-child > div > .right > div > div {
  border-radius: 30px;
  padding: 7px 25px 15px;
}
.section > .first > div:last-child > div > .right > div > div > h2 {
  font-weight: bold;
  font-size: 18px;
}
.section > .first > div:last-child > div > .right > div > div > h2::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 50%;
  margin-right: 5px;
}
.section > .first > div:last-child > div > .right > div:first-child > .creditRating {
  background: rgba(0, 19, 74, 0.48);
  font-weight: bold;
  color: white;
}
.section > .first > div:last-child > div > .right > div:first-child > .creditRating > nav > ul {
  display: flex;
}
.section > .first > div:last-child > div > .right > div:first-child > .creditRating > nav > ul > li {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-inline: 12px;
}
.section > .first > div:last-child > div > .right > div:first-child > .creditRating > nav > ul > li > img {
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.section > .first > div:last-child > div > .right > div:first-child > .creditRating > nav > ul > li > p {
  font-size: 13.5px;
  text-align: center;
}
.section > .first > div:last-child > div > .right > div:first-child > .ir {
  background: rgba(0, 19, 74, 0.48);
  font-weight: bold;
}
.section > .first > div:last-child > div > .right > div:first-child > .ir > h2, .section > .first > div:last-child > div > .right > div:first-child > .ir > nav > ul > li > a > p:first-child {
  color: white;
}
.section > .first > div:last-child > div > .right > div:first-child > .ir > h2 {
  padding-bottom: 10px;
}
.section > .first > div:last-child > div > .right > div:first-child > .ir > nav > ul > li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.section > .first > div:last-child > div > .right > div:first-child > .ir > nav > ul > li:last-child {
  border-bottom: none;
}
.section > .first > div:last-child > div > .right > div:first-child > .ir > nav > ul > li > a > p {
  line-height: 8px;
}
.section > .first > div:last-child > div > .right > div:first-child > .ir > nav > ul > li > a > p:first-child {
  letter-spacing: 1px;
}
.section > .first > div:last-child > div > .right > div:first-child > .ir > nav > ul > li > a > p:last-child {
  color: rgba(255, 255, 255, 0.6);
}
.section > .first > div:last-child > div > .right > div:first-child > .report {
  background: rgba(22, 75, 232, 0.8);
  color: white;
}
.section > .first > div:last-child > div > .right > div:first-child > .report > div {
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.section > .first > div:last-child > div > .right > div:first-child > .report > div > p {
  font-weight: bold;
  font-size: 20px;
  line-height: 9px;
}
.section > .first > div:last-child > div > .right > div:first-child > .report > a > img {
  margin-top: 10px;
  background: rgba(255, 255, 255, 0.3019607843);
  border-radius: 50%;
  transition: background-color 0.3s;
  scale: 0.9;
}
.section > .first > div:last-child > div > .right > div:last-child {
  margin-left: 15px;
}
.section > .first > div:last-child > div > .right > div:last-child > .performance {
  background: rgba(25, 228, 238, 0.4);
}
.section > .first > div:last-child > div > .right > div:last-child > .performance > h2, .section > .first > div:last-child > div > .right > div:last-child > .performance > div > p, .section > .first > div:last-child > div > .right > div:last-child > .performance > nav > ul > li > a {
  color: white;
}
.section > .first > div:last-child > div > .right > div:last-child > .performance > div {
  padding-bottom: 3px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.section > .first > div:last-child > div > .right > div:last-child > .performance > div > p {
  font-weight: bold;
  line-height: 8px;
}
.section > .first > div:last-child > div > .right > div:last-child > .performance > div > p:first-child {
  font-size: 23px;
}
.section > .first > div:last-child > div > .right > div:last-child > .performance > div > p:last-child {
  font-size: 22px;
}
.section > .first > div:last-child > div > .right > div:last-child > .performance > nav > ul {
  margin-bottom: 20px;
}
.section > .first > div:last-child > div > .right > div:last-child > .performance > nav > ul > li > a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  width: 200px;
}
.section > .first > div:last-child > div > .right > div:last-child > .performance > nav > ul > li > a > img {
  background: rgba(255, 255, 255, 0.3019607843);
  border-radius: 50%;
  transition: background-color 0.3s;
  scale: 0.9;
}
.section > .first > div:last-child > div > .right > div:last-child > .info {
  background: rgba(255, 255, 255, 0.75);
  color: #222222;
}
.section > .first > div:last-child > div > .right > div:last-child > .info > h2::before {
  background: #0A31A8;
}
.section > .first > div:last-child > div > .right > div:last-child > .info > div > p, .section > .first > div:last-child > div > .right > div:last-child > .info > nav > ul > li > p {
  font-size: 13px;
  font-weight: bold;
}
.section > .first > div:last-child > div > .right > div:last-child > .info > div {
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.section > .first > div:last-child > div > .right > div:last-child > .info > div > div:nth-child(2), .section > .first > div:last-child > div > .right > div:last-child > .info > div > div:last-child {
  text-align: right;
}
.section > .first > div:last-child > div > .right > div:last-child > .info > div > div:nth-child(2) > small, .section > .first > div:last-child > div > .right > div:last-child > .info > div > div:nth-child(2) > strong {
  color: #222222;
  font-weight: bold;
}
.section > .first > div:last-child > div > .right > div:last-child > .info > div > div:nth-child(2) > small {
  display: inline-block;
  font-size: 20px;
  margin-left: 3px;
  transform: translateY(-4px);
}
.section > .first > div:last-child > div > .right > div:last-child > .info > div > div:nth-child(2) > strong {
  font-size: 45px;
}
.section > .first > div:last-child > div > .right > div:last-child > .info > div > div:last-child {
  margin-right: 2px;
}
.section > .first > div:last-child > div > .right > div:last-child > .info > div > div:last-child > span {
  font-size: 13px;
}
.section > .first > div:last-child > div > .right > div:last-child > .info > div > div:last-child > span:first-child {
  color: black;
  margin-right: 5px;
}
.section > .first > div:last-child > div > .right > div:last-child > .info > nav {
  margin-top: 30px;
}
.section > .first > div:last-child > div > .right > div:last-child > .info > nav > ul {
  margin-top: 2px;
}
.section > .first > div:last-child > div > .right > div:last-child > .info > nav > ul > li {
  display: flex;
  justify-content: space-between;
  text-align: right;
}
.section > .first > div:last-child > div > .right > div:last-child > .info > nav > ul > li > div > p:first-child {
  font-size: 15px;
  line-height: 5px;
  font-weight: bold;
}
.section > .first > div:last-child > div > .right > div:last-child > .info > nav > ul > li > div > p:last-child {
  font-size: 13px;
}