@use '../../variables' as *;
@use '../../mixins' as *; 
@use '../../levels' as *;
@use '../../media' as *;

.header {
    @include flexSort(null, center);
    position:fixed;
    width:100%;
    height:6.5rem;
    z-index:$z-index-forward;
    transition:background-color 0.3s, transform 0.3s;

    &::after {
        content:"";
        position:absolute;
        top:100%;
        display:block;
        width:100%;
        height:500px;
        max-height:0px;
        transition:max-height 0.3s, background-color 0.3s;
        border-bottom-right-radius:50px;
        border-bottom-left-radius:50px;
        z-index:$z-index-back;
    }

    & > div {   // header Inner
        position:relative;
        width:100%;
        height:100%;

        & > div {
            @include flexSort(space-between, center);
            width:100%;
            height:100%;
            padding-inline:$layout_padding;

            & > a {
                & > img {
                    width:9rem;
                    height:auto;
                } 
            }
            
            & > nav:nth-child(2) {
                display:block;
                height:100%;
    
                & > ul {
                    @include flexSort(null, null);
                    height:100%;
                    font-weight:bold;
    
                    & > li {
                        position:relative;
                        padding:0 0.5rem;
                        
                        & > a {
                            @include flexSort(center, center);
                            min-width:clamp(5.5rem, 10.7vw, 10.7rem);
                            font-size:1rem;
                            height:100%;
                            color:$white;
                        }
    
                        &:hover > a {
                            color:#0A31A8;
                        }
    
                        & > div {
                            position:absolute;
                            width:100%;
                            height:500px;
                            max-height:0px;
                            margin-left:-10px;
                            transition: max-height 0.3s;
                            overflow:hidden;
    
                            & > ul {
                                margin-top:30px;
                                text-align:center;
    
                                & > li {
                                    line-height:46px;
                                    width:80%;
                                    margin-inline:auto;
    
                                    & > a {
                                        color:$text_color;
                                    }
                                    
                                    &:hover > a {
                                        color:#0A31A8;
                                    }
                                }
    
                                &::after {
                                    content:"";
                                    position:absolute;
                                    top:38px;
                                    right:0;
                                    width:1px;
                                    height:395px;
                                    background:rgba(0, 0, 0, 0.1);
                                }
                            }
                        }
                    }
                }     
            }
    
            & > nav:nth-child(3) {
                & > ul {
                    @include flexSort(space-between, center);
                    gap:1.7rem;

                    & > li {
                        position:relative;
    
                        & > a {
                            color:$white;
                        }
    
                        &:first-child {
                            & > a {
                                font-weight:700;
                                font-size:0.85rem;
                                letter-spacing:1px;
                                padding-inline:0.8rem;
                                line-height:1.7rem;
    
                                &::after {
                                    content:"";
                                    position:absolute;
                                    top:0;
                                    left:0;
                                    display:block;
                                    width:100%;
                                    height:100%;
                                    border-radius:50px;
                                    opacity:0.15;
                                    background:$white;
                                }
    
                                &:hover::after {
                                    background:#0A31A8;
                                    opacity:1;
                                    z-index:$z-index-back;
                                }
                            }
                        }
    
                        &:nth-child(2) {
                            @include flexSort(null, center);
                            gap:1.2rem;
                            
                            & > a {
                                font-weight:600;
                                font-size:0.8rem;
    
                                &:last-child {
                                    color: rgba(255, 255, 255, 0.3);
                                }
                            }
    
                            &::before {
                                content:"";
                                position:absolute;
                                left:50%;
                                display:block;
                                width:1px;
                                height:13px;
                                background:rgba(255, 255, 255, 0.3);
                            }
                        }
    
                        &:last-child {
                            position:relative;
                            width:1.4rem;
                            height:0.52rem;
    
                            & > a {
                                display:block;
                                height:100%;
                                
                                &::before,
                                &::after {
                                    content:"";
                                    position:absolute;
                                    right:0;
                                    display:block;
                                    width:100%;
                                    height:2px;
                                    background:$white;
                                }
    
                                &::before {
                                    top:0;
                                }
    
                                &::after {
                                    bottom:0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    & > .blur {
        display:none;
    }
}

.header.active {
    background-color:$white;

    &::before {
        content:"";
        position:absolute;
        bottom:0;
        display:block;
        width:100%;
        height:1px;
        background:rgba(0, 0, 0, 0.1);
    }

    &::after {
        max-height:500px;
        background-color:$white;
    }

    & > div {
        & > div {
            & > nav:nth-child(2) > ul > li {
                & > a {
                    color:$text_color;
                }
        
                & > div {
                    max-height:500px;
                }
            }

            & > nav:nth-child(3) > ul {
                & > li {
                    &:first-child > a {
                        color:$text_color;
        
                        &::after {
                            background:$text_color;
                        }  
                    }
        
                    &:nth-child(2) {
                        &::before {
                            background:rgba(0, 0, 0, 0.3);
                        }
        
                        & > a:first-child {
                            color:#0A31A8;
                        }
        
                        & > a:last-child {
                            color:rgb(196, 196, 196);
                        }
                    }
        
                    &:nth-child(3) > a {
                        &::after,
                        &::before {
                            background:$text_color;
                        }
                    }
                }
            }
        } 
    }
}

.header.white {
    background:$white;

    & > div > div > nav:nth-child(2) > ul > li {
        & > a {
            color:$text_color;
        }
    }

    & > div > div > nav:nth-child(3) > ul {
        & > li {
            &:first-child > a {
                color:$text_color;

                &::after {
                    background:$text_color;
                }  
            }

            &:nth-child(2) {
                &::before {
                    background:rgba(0, 0, 0, 0.3);
                }

                & > a:first-child {
                    color:#0A31A8;
                }

                & > a:last-child {
                    color:rgb(196, 196, 196);
                }
            }

            &:nth-child(3) > a {
                &::after,
                &::before {
                    background:$text_color;
                }
            }
        }
    }
}

.header.none {
    transform:translateY(-100%);
}

.header.open {
    transform:translateY(0%);
}

@media (max-width:1900px) {
    .header > div > div > nav:nth-child(2) > ul > li > div > ul > li > a {
        font-size:0.8rem;
    }
}

@include media-xlg {
    .header > div > div > nav:nth-child(2) {
        display:none;
    }
}

@include media-lg {
    .header {
        height: clamp(5.8rem, 10.4vw, 6.5rem);

        & > div > div {
            padding-inline:clamp(1rem, 6.3vw, $layout_padding);
    
            & > a > img {
                width:clamp(8rem, 15vw, 9rem);
            }
    
            & > nav:last-child > ul {
    
                & > li:first-child > a {
                    font-size:clamp(0.7rem, 1.4vw, 0.85rem);
                    padding-inline:clamp(0.7rem, 1.4vw, 0.8rem);
                    line-height:clamp(1.6rem, 2.7vw, 1.7rem);
                }
    
                & > li:nth-child(2) > a {
                    font-size:clamp(0.7rem, 1.3vw, 0.8rem);
                }
    
                & > li:last-child {
                    width:clamp(1.2rem, 2.3vw, 1.4rem);
                    height:clamp(0.5rem, 0.9vw, 0.52rem);
                }
            }
        }
    }
}

@include media-md {
    .header > div > div > nav:last-child > ul {
        & > li:nth-child(2) {
            display:none;
        }
    }
}

@media(max-width: 680px) {
    .header {
        height: 4rem;

        & > div > div {
            & > nav:last-child > ul {
                gap:1rem;
            }
        }
    } 
}