@use '../../mixins' as *;
@use '../../variables' as *;
@use '../../animations' as *;

.creditRating {     //신용등급
    @include containerStyle;
    background:rgba(0, 19, 74, 0.48);
    font-weight:bold;
    color:$white;
    @include fade-in2(30%);
    animation-delay:0.5s;

    & > nav {
        & > ul {
            @include flexSort(space-around, null);
            margin-top:1.2rem;

            & > li {
                @include flexSort(null, center);
                flex-direction:column;

                & > img {
                    border-radius:50%;
                    width:min(4.8em, 6.3vw);
                    height:min(4.8em, 6.3vw);
                    margin-bottom:0.7rem;
                    background:rgba(255, 255, 255, 0.2);
                    border:1px solid rgba(255, 255, 255, 0.3); 
                }

                & > p {
                    font-size:15px;
                    text-align:center;
                    white-space:nowrap;
                }
            }
        }
    }
}