@use '../../mixins' as *;
@use '../../variables' as *;
@use '../../animations' as *;

.info {   // 주가정보
    @include containerStyle;
    background: rgba(255, 255, 255, 0.75);
    color:#222222;
    @include fade-in2(30%);
    animation-delay:1.2s;

    & > h2 {
        
        &::before {
            background:#0A31A8 !important;
        }
    }

    & > div > p,
    & > nav > ul > li > p {
        font-size:0.7rem;
        text-indent:2px;
        font-weight:bold;
    }

    & > div {
        padding-top:23px;
        padding-bottom:27px;

        & > div:nth-child(2),
        & > div:last-child {
            text-align:right;
        }

        & > div:nth-child(2) {
            margin-top:10px;

            & > small,
            & > strong {
                color:$text_color;
                font-weight:bold;
            }

            & > strong {
                font-size:2.7rem;
                letter-spacing:-1px;
            }

            & > small {
                display:inline-block;
                font-size:1.1rem;
                margin-left:5px;
                transform:translateY(-4px);
            }
        }

        & > div:last-child {
            margin-right:2px;
            transform:translateY(-3px);

            & > span {
                font-size:0.75rem;
            }

            & > span:first-child {
                color:$text_color;
                margin-right:5px;
            }

            & > span:last-child {
                font-weight:600;
            }
        }
    }

    & > nav {
        padding-top:25px;
        display:flex;
        flex-direction:column;
        gap:0.7rem;
        border-top:1px solid rgba(0, 0, 0, 0.1);
        
        & > ul {

            & > li {
                display:flex;
                justify-content:space-between;
                text-align:right;

                & > p {
                    letter-spacing:1px;
                    line-height:2.2;
                }

                & > div {
                    & > p:first-child {
                        font-size:0.8rem;
                        font-weight:bold;
                        line-height:1.5;
                    }

                    & > p:last-child {
                        font-size:0.75rem;
                        line-height:2;
                        font-weight:600;
                    }
                }
            }
        }
    }
}