@use '../../variables' as *;
@use '../../mixins' as *;
@use '../../animations' as *;

.ir {   // IR활동
    @include containerStyle;
    background:rgba(0, 19, 74, 0.48);
    font-weight:bold;
    @include fade-in2(30%);
    animation-delay:0.7s;

    & > h2,
    & > nav > ul > li > a > p:first-child {
        color:$white;
    }

    & > nav > ul {
        margin-top:0.7rem;

        & > li {
            padding-block:13px;
            margin-left:3px;
            border-bottom:1px solid rgba(255, 255, 255, 0.3);

            &:last-child {
                border-bottom:none;
                padding-bottom:0;
            }

            & > a {
                & > p {
                    font-size:1rem;
                    line-height:1.5;
                }

                & > p:last-child {
                    font-size:0.9rem;
                    color:rgba(255, 255, 255, 0.6);
                }
            }
        }
    }
}