@use '../../variables' as *;
@use '../../mixins' as *;
@use '../../media' as *;
@use '../../animations' as *;

.performance {  // 경영실적
    @include containerStyle;
    background:rgba(25, 228, 238, 0.4);
    @include fade-in2(30%);
    animation-delay:1s;

    & > h2,
    & > div > p,
    & > nav > ul > li > a {
        color:$white;
    }

    & > h2 {
        padding-bottom:18px;
    }

    & > div {
        display:flex;
        flex-direction:column;
        padding-bottom:13px;
        border-bottom:1px solid rgba(255, 255, 255, 0.2);

        & > p {
            font-weight:bold;
            line-height:1.4;
            font-size:1.4rem;
            word-break:keep-all;
        }
    }

    & > nav > ul {
        margin-top:0.8rem;

        & > li {
            padding-bottom:12px;
            white-space:nowrap;

            &:last-child {
                padding-bottom:0;
            }
                        
            & > a {
                @include flexSort(space-between, center);
                font-weight:600;

                & > p {
                    font-size:1rem;
                }

                & > img {
                    width:2.2rem;
                    height:2.2rem;
                }
            }
        }
    }
}