@use 'variables' as *;
@use 'levels' as *;

@mixin flexSort($justify, $align) {
    display:flex;
    justify-content:$justify;
    align-items:$align;
}

@mixin containerStyle {
    position:relative;
    border-radius:clamp(2rem, 2.2vw, 5.5rem);
    padding:1.5rem;
    backdrop-filter:blur(10px);
    opacity:0;
    visibility:hidden;

    & > h2 {
        font-size:1.1rem;

        &::before {
            content:"";
            display:inline-block;
            width:12px;
            height:12px;
            border-radius:50%;
            background:$white;
            margin-right:5px;
        }
    }
}