$white:white;
$black:black;
$text_color:#333333;
$text_lightColor:#666666;
$cobalt:#0A31A8;
$navy:#0D2D77;
$deep-blue:#0B235B;
$light-blue:#1C56FF;

$layout_padding:3.7rem;

$breakpoint-mobile: 335px;
$breakpoint-tablet: 758px;
$breakpoint-desktop: 1024px;
$breakpoint-xlg: 1300px;
$breakpoint-xmlg: 1430px;
$breakpoint-xxlg: 1645px;